@use "../../utils/names_variables" as *;

.mainHome {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .homeContent {
        width: 80%;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        h1 {
            color: $third-color;
        }
        .homeDescription {
            display: flex;
            flex-direction: column;
        }
        .profilePicture {
            max-width: 30%;
            border-radius: 25px;
            box-shadow: 0px 0px 15px 5px $second-color;
        }
    }
    @include phone {
        .mainHome {
            flex-direction: column;
        }
        .homeContent {
            flex-direction: column;
            h1 {
                font-size: 20px;
            }
            h2 {
                font-size: 15px;
            }
        }
        .profilePicture {
            max-width: 100% !important;
        }
    }
    @include tablet {
        .mainHome {
            flex-direction: column;
        }
        .homeContent {
            flex-direction: row;
        }
        .homeDescription {
            h1 {
                font-size: 50px;
            }
            h2 {
                font-size: 35px;
            }
        }
        img {
            width: 50%;
        }
    }
}
