@use "utils/names_variables" as *;

#root {
    width: 100vw;
    height: 100vh;
    text-align: center;
    .main {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        align-items: center;
    }
}
