@use "utils/names_variables" as *;

#root {
    width: 100vw;
    height: 100dvh;
    text-align: center;
    .main {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        align-items: center;

        .page-content {
            flex: 1;
            width: 100%;
            position: relative; // utile si tu as des éléments absolus dans les pages
            overflow-x: hidden;
        }
    }
}
