@import 'utils/names_variables.scss';

:root {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  color: $fifth-color;
  background-color: $first-color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}